@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 24px;
  font-weight: 800;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.iconX {
  font-weight: 600;
  color: grey;
  border-radius: 5px;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.iconX:hover {
  color: white;
  background-color: #f87171;
}

.iconEdit {
  font-weight: 600;
  color: grey;
  border-radius: 5px;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.iconEdit:hover {
  color: white;
  background-color: #34d399;
}

.colorBox {
  height: 48px;
  width: 48px;
}
