@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 24px;
  font-weight: 800;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.iconX {
  font-weight: 600;
  color: grey;
  border-radius: 5px;
  padding: 12px;
  width: 48px;
  height: 48px;
  margin-top: 56px;
  margin-left: 16px;
}

.iconX:hover {
  color: white;
  background-color: #f87171;
}

.iconEdit {
  font-weight: 600;
  color: grey;
  border-radius: 5px;
  padding: 12px;
  width: 48px;
  height: 48px;
  margin-top: 56px;
  margin-right: 16px;
}

.iconEdit:hover {
  color: white;
  background-color: #34d399;
}

.colorBox {
  height: 48px;
  width: 48px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
